@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
}

/* Titles */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

.navbar-inverse {
	background-color:#2C3E50
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.logo {
	padding-bottom: 80px;
	margin-bottom: 30px;
	width: 60%;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.image {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.img-responsive {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
}

.pull-right {
	color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .image{
	width: 100%
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
	background: #333;
	color: #fff;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	margin-top: 40px;
}

.full {
	width: 100%;
}

.product-row {
	border-bottom: #ccc 1px solid;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

h3 {
	padding-bottom: 20px;
}

.stars{
	margin-bottom: 5px;
	width:120px;
}